<p id="notice"><%= notice %></p>

<h1>Handymen</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @handymen.each do |handyman| %>
      <tr>
        <td><%= link_to 'Show', handyman %></td>
        <td><%= link_to 'Edit', edit_handyman_path(handyman) %></td>
        <td><%= link_to 'Destroy', handyman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Handyman', new_handyman_path %>
